<nav class="site-nav location-{{ include.location }}" onclick="showNav()">
    <a class="nav-button">
        <i class="fas fa-bars"></i>
    </a>
    <ul id="navbar">
        {% assign nav = site.pages | sort:"order" %}
        {% for item in nav %}
            {% if item.title and item.nomainnav != 1 %}    
            <li {% if item.url == page.url %} class="selected"{% endif %}>
                {% if item.title == "Space" %}
                    <a href="javascript:void(0);">
                        {% if item.icon %}<i class="fas {{ item.icon }}"></i>{% endif %}
                        {{ item.title }}
                    </a>
                {% elsif item.title != "Space" %} 
                    <a href="{{ site.baseurl }}{{ item.url }}">
                        {% if item.icon %}<i class="fas {{ item.icon }}"></i>{% endif %}
                        {{ item.title }}
                    </a>
                {% endif %}
                {% if item.title == "Space" %}
                <ul id="space-info">
                    <li><a href="#">Moon</a></li>
                    <li><a href="#">Planet</a></li>
                    <li><a href="#">Solar System</a></li>
                    <li><a href="#">Galaxies</a></li>
                    <li><a href="#">Univers</a></li>
                </ul>
                {% endif %}
            </li>
            {% endif %}
        {% endfor %}
    </ul>
</nav>