<nav class="site-nav location-{{ include.location }}" onclick="showNav()">
    <a class="nav-button">
        <i class="fas fa-bars"></i>
    </a>
    <ul class="navigation" id="navbar">
        {% assign nav = site.pages | sort:"order" %}
        {% for item in nav %}
            {% if item.title and item.nomainnav != 1 %}    
                <li {% if item.url == page.url %} class="selected"{% endif %}>
                    <a href="{{ site.baseurl }}{{ item.url }}">
                        {% if item.icon %}<i class="fas {{ item.icon }}"></i>{% endif %}
                        {{ item.title }}
                    </a>
                    {% if item.title == "Space" %}
                    <ul id="space-info">
                        <li><a href="{{ site.baseurl }}/moons/">Empty</a></li>
                        <li><a href="{{ site.baseurl }}/moons/">Moons</a></li>
                        <li><a href="{{ site.baseurl }}/planets/">Planets</a></li>
                        <li><a href="{{ site.baseurl }}/solar-system/">Solar System</a></li>
                        <li><a href="{{ site.baseurl }}/galaxies/">Galaxies</a></li>
                    </ul>
                {% endif %}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</nav>