<aside class="site-sidebar-categories">
    <section>
        <ul>
            <li><a href="#">{% include calendar.html %}</a></li>
            <li><a href="{{ site.baseurl }}/moons/"><i class="fas fa-moon"></i></a></li>
            <li><a href="{{ site.baseurl }}/planets/"><i class="fas fa-globe-africa"></i></a></li>
            <li><a href="{{ site.baseurl }}/solar-system/"><i class="fas fa-sun"></i></a></li>
            <li><a href="{{ site.baseurl }}/galaxies/"><i class="fas fa-meteor"></i></a></li>
        </ul>
    </section>
</aside>
