/* header animation */

.site-header:hover nav #navbar > li > a{
    animation: scaleNavBarButtons 0.1s ease;
    animation-duration: 0.3s;  
    animation-delay: 0s;
    animation-fill-mode: both;
}

@keyframes scaleNavBarButtons {
    from {padding: 0.3em 1em;}
    to {padding: 0.5em 1em;}
}

.site-header:hover {
    animation: scaleHeader 0.1s ease;
    animation-duration: 0.3s;  
    animation-delay: 0s;
    animation-fill-mode: both;
}

@keyframes scaleHeader {
    from {padding: 0 3em 0 3em; background: var( --color-link-default);}
    to {padding: 0.2em 3em 0.2em 3em; background: rgb(203, 207, 188)}
}


/* about-page animation */

.card-media:hover .card-info{
    animation: showCardInfo 0.3s ease-in-out;
    animation-duration: 2s;  
    animation-delay: 0.2s;
    animation-fill-mode: both;
}

@keyframes showCardInfo {
    from {right: 100%;}
    to {right: 0;}
}

/* space pages */

