/* header animation */

.site-header.active {
    animation: moveHeader 0.1s ease-in-out;
    animation-duration: 0.6s;  
    animation-delay: 0.1s;
    animation-fill-mode: both;
}

@keyframes moveHeader {
    0% {
        transform: translateY(50%);
    }
    20% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(20%);
    }
    60% {
        transform: translateY(0);
    }
    80% {
        transform: translateY(15%);
    }
    90% {
        transform: translateY(0);
    }
    95% {
        transform: translateY(5%);
    }
    100% {
        transform: translateY(0);
    }
}

.site-header {
    animation: increaseHeaderTop 0.1s ease-in-out;
    animation-duration: 0.3s;  
    animation-delay: 0.1s;
    animation-fill-mode: both;
}


@keyframes increaseHeaderTop {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(50%) scale(1.01);
    }
}


/* about-page animation main background*/
/* .card-media:hover .card-info{
    
}

@keyframes showCardInfo {
    from {right: 100%;}
    to {right: 0;}
} */

/* space pages */


/* .space-card-container.checked .space-card-content section {
    animation: showSpaceCardInfo 0.3s ease-in-out;
    animation-duration: 1s;  
    animation-delay: 0;
    animation-fill-mode: both;
}

@keyframes showSpaceCardInfo {
    from {bottom: 0; }
    to {bottom: 100%; }
} */

/* .space-card-container.portrait {
    animation: showSpaceCardInfo 0.3s ease-in-out;
    animation-duration: 1s;  
    animation-delay: 0;
    animation-fill-mode: both;
}
@keyframes showSpaceCardInfo {
    from {grid-row: span 1; }
    to {grid-row: span 2; }
} */