.calendar-button {
    position: fixed;
    width: 2em;
    height: 2em;
    background: grey;
    top: 0; left: 0;
    border-bottom-right-radius: 0.4em;
}

.calendar-button i {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    color: var(--color-body-bgrd);
    font-size: 1.1em;
}
.calendar{
    display: none;
}

.calendar-button:hover > .calendar {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 40em;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-1%, -1%);
    margin: 0 auto;
    padding: 1em 2em 2em 2em;
    opacity: 0.95;
    background: rgb(245, 244, 240);
    border-radius: 0.4em;
}

.calender-month {
    margin-bottom: 0.5em;
}

.calender-month h1 {
    font-size: 2em;
    padding-left: 0.5em;
    color: grey;
}

.calendar-week,
.calendar-dates {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 0.3em;
    width: 100%;
    margin: 0 auto;
}

.calendar-week {
    margin-bottom: 0.5em;
}

.calendar-week-day {
    border-radius: 0.4em;
    padding: 0.4em 0;
    color: #fff;
    background:grey;
}

.calendar-dates .date {
    border-radius: 0.4em;
    padding: 0.5em 0;
    background: rgb(226, 226, 226);
    color: grey;
}

.calendar-dates .date:hover {
    color: #fff;
    background: var(--color-link-default);
}

.calendar-dates .date:nth-child(1) {
    visibility: hidden;
}
.calendar-dates .date:nth-child(2) {
    visibility: hidden;
}

@media ( max-width: 600px ) {
    .calendar-button:hover > .calendar {
        width: 25em;
    }
}

@media ( min-width: 600px ) {
    .calendar-button:hover > .calendar {
        width: 30em;
    }
}

@media ( min-width: 1024px ) {
    .calendar-button:hover > .calendar {
        width: 35em;
    }
}
