.site {
    max-width: var(--layout-main-width);
    margin: 0 auto;
}

.site-content {
    padding: 0 4em 2em 4em;;
    background: var(--color-pages-main-bgrd);
}

.site-main {

}

/* Tablets and Smartphones */

@media ( min-width: 321px ) {

    /* ABOUT */
    .list-card .card-media {
        width: 100%;
    }

    /* SPACE */
    .site-main .list-space-card {
        grid-template-columns: repeat(1, 1fr);
    }

    /* GALLERY */
    .content .gallery {
        grid-template-columns: repeat(2, 2fr);
    }
}

@media ( min-width: 480px ) {
    
    /* ABOUT */
    .list-card .card-media {
        width: 48%;
    }

    /* SPACE */
    .site-main .list-space-card {
        grid-template-columns: repeat(2, 1fr);
    }

    /* GALLERY */
    .content .gallery {
        grid-template-columns: repeat(3, 2fr);
    }
}

@media ( min-width: 768px ) {

    /* ABOUT */
    .list-card .card-media {
        width: 30%;
    }

    /* SPACE */
    .site-main .list-space-card {
        grid-template-columns: repeat(3, 1fr);
    }

    /* GALLERY */
    .content .gallery {
        grid-template-columns: repeat(4, 2fr);
    }
}

@media ( min-width: 960px ) {

    /* SPACE */
    .site-main .list-space-card {
        grid-template-columns: repeat(4, 1fr);
    }

    /* GALLERY */
    .content .gallery {
        grid-template-columns: repeat(5, 2fr);
    }
}