.site {
    max-width: var(--layout-main-width);
    margin: 0 auto;
}

.site-content {

}

.site-main {
    
}
.site-main-media {
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.4)),  url("https://images.unsplash.com/photo-1460186136353-977e9d6085a1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
    background-size: cover;
    padding: 100vh 0 0 0;
    color: #fff;
    text-align: center;
    position: relative;
    top: 100; left: 0; right: 0; bottom: 0;
}


/* 
.site-main {
    width: 100%;
}

.site-sidebar {
    width: 20%;
    margin-left: auto;
} */



@media ( min-width: 1024px ) {
    .site-header {
        display: flex;
        align-items: center;
    }

    .site-header nav {
        margin-left: auto;
    }
    
}