.list-space-card {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-left: 1em;
    /* justify-content: space-between; */
}

.space-card-container {
    display: flex;
    flex-wrap: wrap;
    width: 23%;
    overflow: hidden;
    border: 1px solid var(--color-card-border);
    border-radius: 0.6em;
    background: black;
    margin: 1em 1em 0 1em;
    box-shadow: 0 0 0.3em rgb(90, 90, 90), 0 0 0.3em rgb(90, 90, 90);
}

/* .space-card-container:nth-child(7){
    display: none;
} */

.space-card-media {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 0.6em;
    border: 1px solid var(--color-card-border);
    margin: 1em;
    display: block;
}

.space-card-media:before{
    display: block;
    content: '';
    padding: 50%;
}

.space-card-media img{
    display: block;
    position: absolute;
    width: 100%;
    height: auto;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}

.space-card-content {
    background: var(--color-card-bgrd);
    width: 100%;
    height: 15em;
    padding: 0 1.5em 1em 1.5em;
}


.space-card-content h1 {
    color: var(--color-card-text);
    font-size: 1.5em;
    margin: 0;
}

.space-card-content p {
    color: var(--color-card-text);
    font-size: 0.9em;
}