/* text content css */

.text-content {
    padding: 0.5em 0;
    margin: 0 auto;
}

.text-background {
    position: relative;
    width: 100%;
}

.text-background-media {
    position: relative;
    overflow: hidden;
    border-radius: 0.2em;
    width: 100%;
}

.text-background-media:before {
    display: block;
    content: '';
    padding-top: 35%;
}

.text-background img {
    display: block;
    position: absolute;
    width: 100%;
    top: 0; right: 0;
}

/* card css */

.list-space-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
    grid-auto-flow: dense;
    width: 100%;
    margin: 0.5em auto;
}

.space-card-container {
    position: relative;
    display: block;
    overflow: hidden;
    width: 100%;
    cursor: pointer;
    border: 1px solid var(--color-card-border);
    border-radius: 0.2em;
}

.space-card-container.portrait{
    grid-column: span 1;
    grid-row: span 2;
    height: -1em;
    background: black;
}

.space-card-media {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.space-card-media:before,
.space-card-media:after {
    display: block;
    content: '';
}

.space-card-media:before {
    padding: 40%;
    background: black;
}

.space-card-media img{
    display: block;
    width: 100%;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}

.space-card-media h1{
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    margin: 0;
    font-size: 1.6em;
    text-align: center;
    background: rgba(0,0,0,0.6);
}

.space-card-content {
    display: none;
    position: relative;
    width: 100%;
    border-top: 1px solid var(--color-card-border);
}

.space-card-content:before {
    display: block;
    content: '';
    padding: 40%;
}

.space-card-content section {
    position: absolute;
    text-align: center;
    padding: 0.5em;
    width: 100%;
    top: 0;
}