.site-main-background {
    position: relative;
    width: 100%;
}

.site-main-background img {
    display: block;
    width: 100%;
    height: 100vh;
}

.site-main-background-text{
    position: absolute;
    top: 0; left: 0%; bottom: 0; right: 0;
    padding: 8em 4em 8em 4em;
}

.site-main-background-text p{
    font-size: 0.7em;
}