.list-space-card {
    width: 100%;
    border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.space-card-container {
    display: flex;
    flex-wrap: wrap;
    width: 32%;
    overflow: hidden;
    border: 1px solid green;
    border-radius: 0.5em;
}

.space-card-media {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: block;
    border: 1px solid blue;
}

.space-card-media:before{
    display: block;
    content: '';
    padding: 35%;
    background: red;
}

.space-card-media img{
    display: block;
    position: absolute;
    width: 100%;
    height: auto;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}

.space-card-content {
    border: 1px solid orangered;
    width: 100%;
    height: 20em;
    padding: 1em;
}