/*
 * Transitions
 */

/* Navigation */
.site-nav a {
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* Sidebar */
.site-sidebar-categories li {
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* Footer */
.site-footer a {
    transition: color 0.3s ease-in-out;
}
