:root {
    --font-size-body: 8px;
    --font-size-body-smaller: 10px;
    --font-size-body-small: 12px;
    --font-size-body-mid: 14px;
    --font-size-body-larger: 16px;
    --font-size-body-big: 16px;
    --font-size-body-huge: 20px;

    --layout-main-width: 70em;

    --color-body-bgrd: #000000;
    --color-pages-main-bgrd: rgb(25, 25, 25);
    --color-body-text: rgb(190, 186, 169);
    --color-h-tags: rgb(230, 230, 230);
    --color-link-default: rgb(255, 255, 255);
    
    --color-card-bgrd: rgb(0, 0, 0);
    --color-card-text: rgb(200, 200, 200);
    --color-card-border: rgb(225, 225, 225);

    --color-buttons: rgb(35, 35, 35);

    --color-on-hover: rgb(16, 44, 100);
    --color-on--double-hover: rgb(16, 34, 73);

    /* --color-border-default: rgb(26, 46, 44); */
    --color-border-default: rgb(225, 225, 225);

    --spacing-layout-elements: 2em;
}