:root {
    --font-size-body: 14px; 
    --font-size-body-larger: 16px;
    --font-size-body-big: 18px;
    --font-size-body-huge: 20px;

    --layout-main-width: 60em;

    --color-body-text: #C8D1A5;
    --color-body-bgrd: #191816;
    --color-link-default: rgb(58, 97, 91);

    --color-buttons: #1B2625;

    --color-border-default: #1B2625;

    --spacing-layout-elements: 2em;
}