:root {
    --font-size-body: 8px;
    --font-size-body-smaller: 10px;
    --font-size-body-small: 10px;
    --font-size-body-mid: 12px;
    --font-size-body-larger: 14px;
    --font-size-body-big: 16px;
    --font-size-body-huge: 20px;

    --layout-main-width: 70em;

    --color-body-bgrd: #50504b;
    --color-pages-main-bgrd: #111111;
    --color-body-text: rgb(112, 112, 112);
    --color-h-tags: rgb(159, 163, 144);
    --color-link-default: rgb(181, 187, 160);
    
    --color-card-bgrd: rgb(0, 0, 0);
    --color-card-text: #6d6d69;
    --color-card-border: rgb(80, 82, 85);

    --color-buttons: rgb(25, 32, 41);

    --color-on-hover: #2D4B8B;
    --color-on--double-hover: rgb(16, 34, 73);

    /* --color-border-default: rgb(26, 46, 44); */
    --color-border-default: rgb(107, 107, 107);

    --spacing-layout-elements: 2em;
}