.list-card {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    background: var(--color-body-bgrd);
}

.card-media {
    position: relative;
    width: 33.3%;
    border: 1px solid var(--color-border-default);
    overflow: hidden;
}

.card-media:before,
.card-media:after{
    display: block;
    content: '';
    
}
.card-media:before {
    padding-top: 100%;

}
.card-media:after {
    position: absolute;
    top:0; left:0; bottom: 0; right: 0;
    background: linear-gradient(rgba(0,0,0, 0.6),rgba(0,0,0,0.6));
    transition: opacity 0.3s ease-in;
}

.card-media:hover:after{
    opacity: 0;
}

.card-media img {
    display: block;
    position: absolute;
    width: 100%;
    height: auto;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}

.card-content {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 6em;
    top: 0; left: 0; bottom: 0; right: 0;
    transition: opacity 0.3s ease-in;
}

.card-content:hover {
    opacity: 0.6;
}

.card-content h1,
.card-content p {
    color: var(--color-body-text);
}

.card-content h1 {
    font-size: 1.7em;
}

.card-content p {
    font-size: 1em;
}

.joinus-button a{
    display: block;
    width: 6em;
    border-radius: 0.2em;
    border: 1px solid var(--color-body-text);
    background: var(--color-buttons);
    color: var(--color-body-text);
    margin: 2em 2em 0 auto;
    padding: 0.2em 0em;
    text-align: center;
    font-size: 0.8em;
}

.joinus-button a:hover{
    border: 1px solid var(--color-border-default);
    background: var(--color-body-text);
    color: var(--color-link-default);
}

