.form-wrapper {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  /* flex-wrap: wrap; */
  width: 45em;
  margin: 1em auto 0 auto;
  border: 1px solid wheat;
  border-radius: 0.2em;
}

/* media css */

.form-media {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: 0.5em;
  border-radius: 0.2em;
}


.form-media:before,
.form-media:after {
  display: block;
  content: '';
}

.form-media:before {
  padding-top: 100%;
}

.form-media img {
  position: absolute;
  display: block;
  width: 100%;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}

/* form base css */

.form-content {
  border-right: 1px solid grey;
  margin: 0.5em;
  width: 100%;
}

.form-content form { 
  width: 100%;
  background: transparent;
}

.form-content form fieldset{ 
  display: block;
  border: none;
}

.form-content form header {
  margin: 0 1em 0 0;
  padding: 1em 0 1em 0;
  text-align: right;
}

.form-content form fieldset header h4{
}


.form-content form p{
  display: flex;
  align-items: baseline;
}

.form-content form input {
  display: block;
  width: 60%;
  padding: 0.4em 1em;
  margin: 0 1em 0 0.3em;
  border: 2px solid #999;
  border-radius: 0.3em;
  outline: none;
}

.form-content form input[type="submit"] {
  margin: 0 1em 0 auto;
  border: none;
  cursor: pointer;
  background: gray;
}

.form-content form label {
  /* background: gray; */
  display: block;
  margin-left: auto;
}

.form-content form .input-checkbox {
  font-size: 0.9em;
}

.form-content form .input-checkbox label {
  
}

.form-content form .input-checkbox input {
  width: 1em;
}

.form-content form p a {
  display: block;
  margin: 0 1em 0 auto;
  font-size: 0.9em;
  text-decoration: none;
}