.site {
    max-width: var(--layout-main-width);
    margin: 0 auto;
}

.site-content {
    padding: 0 2em 2em 2em;;
    background: var(--color-pages-main-bgrd);
}

.site-main {
   
}

/* Tablets and Smartphones */

@media ( max-width: 480px ) {  

    /* header */
    .site .site-header {
        display: flex;
        margin: 0;
        padding: 0 3em;
    }

    .site .site-header .site-title {
        margin: 0.7em auto 0.5em 0;
        padding: 0 2em;
    }

    .site .site-header .site-title {
        width: 60%;
    }

    /* button for navbar */
    .site .site-header .site-nav .nav-button {
        display: block;
        margin: 0.5em 0;
        padding: 0.5em 1em;
    }

    .site-header .site-nav i{
        display: block;
        padding-left: 0.2em;
        font-size: 2.2em;
    }

    /* nav-bar */
    .site-header .site-nav .navigation {
        position: absolute;
    }

    .site-header .site-nav > .navigation {
        display: none;
        position: absolute;
        width: 100%;
        top: 100%; right: 0; bottom: 0; left: 0;
        flex-wrap: wrap;
        padding: 0;
        margin: 0 0 0 0;
    }

    .site-header .site-nav > .navigation li {
        display: block;
        list-style: none outside;
        background: var(--color-buttons);
        margin: 0.05em 0;
        width: 100%;
    }

    .site-header .site-nav > .navigation li a {
        display: inline-block;
        width: 100%;
        font-size: 1.6em;
        text-align: center;
    }

    .site-header .site-nav > .navigation li a i{
        display: none;
    }

    /* Pages Header */

    .site-main header {
        text-align: center;
    }

    /* about-page */
    .site-main .list-card {
        margin: 0 0;
        padding: 0;
    }
    .list-card .card-media {
        width: 100%;
        margin: 1em 0;
        padding: 0;
    }

    /* space page */

    .list-space-card .space-card-container {
        width: 85%;
        margin: 0.5em 2em 0.5em 2em;
    }

    /* gallery */
    .site .site-main .gallery {
        grid-template-columns: repeat(2, 2fr);
    }

    /* Main Background */

    .site .site-main-background-text {
        padding-top: 7em;
    }
    .site-main-background-text h1{
        margin-top: 0; 
        font-size: 1.4em;
    }
    
    .site-main-background-text p{
        display: none;
    }

    /* form */
    .site-main .form-wrapper {
        width: 28em;
    }
    .site-main .form-wrapper .form-content{
        border: none;
        margin-right: 6em;
    }

    .site-main .form-wrapper .form-content header{
        margin-right: 4em;
    }
    .site-main .form-wrapper .form-media {
        display: none;
    }
}

@media ( min-width: 480px ) {

    /* header */
    .site .site-header {
        display: flex;
        align-items: center;
    }

    .site .site-title{
        width: 100%;
        text-align: center;
    }

    .site-header nav {
        margin: 0 auto;
    }

    /* Pages Header */

    .site-main header {
        text-align: center;
    }

    /* space page */
    .list-space-card .space-card-container {
        width: 46%;
        margin-left: 0.3em;
        padding: 0;
    }

     /* about-page */

     .list-card {
        margin-top: 2em;
    }

    /* gallery */
    .site .site-main .gallery {
        grid-template-columns: repeat(4, 2fr);
    }

    /* Main Background */

    .site-main-background-text h1{
        font-size: 1.9em;
    }
    
    .site-main-background-text p{
        font-size: 0.7em;
    }

    h1 .signup-button{
        margin: 2em 2em 0 auto;
        font-size: 0.6em;
    }

    /* form */
}

/* desktops */

@media ( min-width: 768px ) {
    /* header */
    .site-header {
        display: flex;
        align-items: center;
    }

    .site-header nav {
        margin-left: auto;
    }

    /* space page */
    .list-space-card .space-card-container {
        width: 30%;
        margin-left: 0.2em;
        padding: 0;
    }

    /* about-page */

    .list-card {
        margin-top: 2em;
    }

    /* gallery */
    .site .site-main .gallery {
        grid-template-columns: repeat(5, 2fr);
    }

     /* Main Background */

     .site .site-main-background-text {
        padding-top: 9em;
    }
}

@media ( min-width: 960px ) {
    .site-header {
        display: flex;
        align-items: center;
    }

    .site-header nav {
        margin-left: auto;
    }

    /* about page */
   
    .card-media:nth-child(1),
    .card-media:nth-child(2),
    .card-media:nth-child(3) {
        width: 100%;
    }

    .card-media:nth-child(1) {
        margin-top: 1em;
    }
    .card-media:nth-child(1):before,
    .card-media:nth-child(2):before,
    .card-media:nth-child(3):before {
        padding-top: 30%;
    }
    
    /* space page */

    .list-space-card .space-card-container {
        width: 22.5%;
        margin-left: 0.2em;
        padding: 0;
    }

    /* gallery */
    .site .site-main .gallery {
        grid-template-columns: repeat(6, 2fr);
    }
}