.site {
    max-width: var(--layout-main-width);
    margin: 0 auto;
    padding: 2em;
}

.site-content {
    margin-top: 5em;
}
/* 
.site-main {
    width: 100%;
}

.site-sidebar {
    width: 20%;
    margin-left: auto;
} */



@media ( min-width: 1024px ) {
    .site-header {
        display: flex;
        align-items: center;
    }

    .site-header nav {
        margin-left: auto;
    }
    
}