.site {
    max-width: var(--layout-main-width);
    margin: 0 auto;
}

.site-content {
    padding: 0 1em;
    background: var(--color-pages-main-bgrd);
}

.site-main {
   
}

/* .site-main-media {
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.4)),  url("https://images.unsplash.com/photo-1460186136353-977e9d6085a1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
    background-size: cover;
    color: #fff;
    text-align: center;
} */


/* 
.site-main {
    width: 100%;
}

.site-sidebar {
    width: 20%;
    margin-left: auto;
} */


/* Tablets and Smartphones */

@media ( max-width: 480px ) {  

    /* nav-bar */

    .site .site-header {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
    }

    .site-header .site-title {
        margin-top: 0.2em;
        padding: 0 2em;
    }

    .site-header .site-nav {
        position: relative;
        margin: 1em 1em 1em auto;
    }

    .site-header .site-nav .nav-button {
        padding: 0.5em 2em;
        display: block;
    }

    .site-header .site-nav i{
        display: block;
        font-size: 2.4em;
    }

    .site-header .site-nav > ul {
        display: none;
        position: absolute;
        top: 100%; right: 0; bottom: 0; left: 0;
        flex-wrap: wrap;
        padding: 0;
        margin: 0 0 0 0;
    }

    .site-header .site-nav li {
        display: block;
        list-style: none outside;
        margin-top: 0.5em;
        width: 100%;
    }

    .site-header .site-nav li a {
        display: block;
        padding: 0.5em 0.5em 0.5em 1.5em;
    }

    /* about-page */
    .site-main .list-card {
        margin: 0;
        padding: 0;
    }
    .list-card .card-media {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    /* space page */
    .list-space-card .space-card-container {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    /* form */

    .site-main .form-signin-content {
        width: 30em;
    }
}

@media ( min-width: 480px ) {
    .site-header {
        display: flex;
        align-items: center;
    }

    .site-header nav {
        margin-left: auto;
    }

    /* space page */
    .list-space-card .space-card-container {
        width: 48%;
        margin-left: 0.3em;
        padding: 0;
    }
}

@media ( min-width: 768px ) {
    .site-header {
        display: flex;
        align-items: center;
    }

    .site-header nav {
        margin-left: auto;
    }

    /* space page */
    .list-space-card .space-card-container {
        width: 31.5%;
        margin-left: 0.2em;
        padding: 0;
    }
}

@media ( min-width: 960px ) {
    .site-header {
        display: flex;
        align-items: center;
    }

    .site-header nav {
        margin-left: auto;
    }

    /* space page */

    .list-space-card .space-card-container {
        width: 23.8%;
        margin-left: 0.2em;
        padding: 0;
    }
}