.contact-map {
    width: 100%;
    height: auto;
    padding: 0.5em 0.5em 0 0.5em;
    margin: 0 auto;
    border: 1px solid var(--color-card-border);
    border-radius: 0.2em;
}

.contact-content {
    display: flex;
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid var(--color-card-border);
    border-radius: 0.2em;
    background: rgb(39, 39, 39);
}

.contact-adress-content {
    padding: 0.5em;
    width: 30%;
}

.contact-adress-content p {
    color: var(--color-body-text);
}

.contact-form-content {
    border: 1px solid var(--color-card-border);
    border-radius: 0.2em;
    padding: 0.5em;
    width: 70%;
    background: var(--color-pages-main-bgrd);
}

.contact-form-content form{
    background: none;
    border: none;
}

.contact-form-content form fieldset {
    border: none;
}

.contact-form-content form header {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: left;
}

.contact-form-content form p {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 0.5em;
    width: 100%;
}


.contact-form-content form input,
.contact-form-content form textarea {
    width: 100%;
    border: 2px solid gray;
    border-radius: 0.2em;
    padding: 0.2em;
    background: none;
}

.contact-form-content form input:hover,
.contact-form-content form textarea:hover {
    border: 2px solid var(--color-on-hover);
}

.contact-form-content form label {
    width: 100%;
}

.contact-form-content form section {
    display: flex;
}


.contact-form-content form section p:nth-child(2){
    margin-left: 0.5em;
}

.contact-form-content form input[type="submit"] {
    cursor: pointer;
}

.contact-form-content form input[type="submit"]:hover {
    background: var(--color-on-hover);
}
