.list-card {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding: 0;
}

.card-media {
    position: relative;
    width: 30%;
    /* border: 1px solid var(--color-card-border); */
    margin-bottom: 2em;
    overflow: hidden;
}

.card-media:before,
.card-media:after{
    display: block;
    content: '';
    
}
.card-media:before {
    padding-top: 100%;
}

.card-media:after {
    position: absolute;
    top:0; left:0; bottom: 0; right: 0;
    background: linear-gradient(rgba(0,0,0, 0.5),rgba(0,0,0,0.5));
}
.card-media:hover:after{
    opacity: 0;
}

.card-media img {
    display: block;
    position: absolute;
    width: 100%;
    height: auto;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}

.card-content {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 6em;
    top: 0; left: 0; bottom: 0; right: 0;
    transition: opacity 0.3s ease-in;
}

.card-content:hover {
    opacity: 0;
}

.card-content h1,
.card-content p {
    color: var(--color-link-default);
}

.card-content h1 {
    margin-top: 1em;
    font-size: 1.7em;
}

.card-content p {
    font-size: 1em;
}

.card-info {
    display: block;
    position: absolute;
    z-index: 3;
    top: 0; right: 0;
    height: 100%; right: 100%;
    text-align: center;
    padding: 4em;
    background: var(--color-on-hover);
}

.card-info p {
    color: var(--color-link-default);
}


