:root {
    --font-size-body: 8px;
    --font-size-body-smaller: 10px;
    --font-size-body-small: 10px;
    --font-size-body-mid: 12px;
    --font-size-body-larger: 14px;
    --font-size-body-big: 16px;
    --font-size-body-huge: 24px;

    --layout-main-width: 100vw;

    --color-body-text: #C8D1A5;
    --color-body-bgrd: #191816;
    --color-link-default: rgb(58, 97, 91);

    --color-card-bgrd: #C8D1A5;

    --color-buttons: #1B2625;

    /* --color-border-default: rgb(26, 46, 44); */
    --color-border-default: rgb(65, 65, 65);

    --spacing-layout-elements: 2em;
}