<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{site.title}}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/site.css">
    <script src="{{ site.baseurl }}/scripts/site.js"></script>
</head>
<body class="
    {% if page.title %}page page-{{ page.title | slugify }}{% endif %}
    {% if post.title %}post{% endif %}
    {% if page.home %}home{% endif %}
">
    <div class="site">
        <header class="site-header">
            <h1 class="site-title">
                <a href="{{ site.baseurl }}/">{{site.title}}</a>
            </h1>
            {% include navigation.html location="header" %}
        </header>

        <section class="site-content">
            <main class="site-main">
                {{content}}
            </main>
            {% if page.sidebarcategories == 1 %}
                {% include sidebar-categories.html %}
            {% endif %}
        </section>

        <footer class="site-footer">
            <p>All rights reserved &copy; {{ site.title }}</p>
            <ul>
                <li><a href=""><i class="fab fa-facebook-square"></i></a></li>
                <li><a href=""><i class="fab fa-twitter-square"></i></a></li>
                <li><a href=""><i class="fab fa-linkedin"></i></i></a></li>
                <li><a href="{{ site.baseurl }}/contacts/"><i class="fas fa-address-card"></i></a></li>
            </ul>
            <!-- {% include navigation.html location="footer" %} -->
        </footer>
    </div>
</body>
</html>